# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Data and Databases
# We exclude the raw and processed data since they are large files
data/raw/
data/processed/
data/db/olist.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Temporary / Scratch Files
tempCodeRunnerFile.cpp
